/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #278eee;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #053c46;
    padding: 10px;
    text-align: center;
  }
  
  nav div {
    margin-bottom: 10px;
  }
  
  nav button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #02a0fc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #0056b3;
  }
  img{
    position: relative;
    top: 50px;
    left: 100px;
  }
  footer {
    position: relative;
    bottom: 1px;
  }